.footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $footer;
  width: 100%;
}

.social-icons,
.go-to-top {
  display: flex;
  align-items: center;
  a {
    margin-right: 18px;
    text-decoration: none;
    // positioning social icons
    &:first-child {
      margin-left: 12px;
    }
    &:last-child {
      margin-right: 12px;
    }
    &:hover,
    &:active,
    &:focus,
    &:visited {
      span {
        color: $nav-1;
      }
    }
  }
  span {
    background: white;
    border-radius: 50%;
    font-size: 24px;
    padding: 8px;
    color: $icons;
  }

  @media (min-width: 480px) {
    // positioning social icons
    a {
      margin-right: 16px;
      &:first-child {
        margin-left: 30px;
      }
      &:last-child {
        margin-right: 30px;
      }
    }
  }
  @media (min-width: 768px) {
    // positioning social icons
    a {
      margin-right: 16px;
      &:first-child {
        margin-left: 36px;
      }
      &:last-child {
        margin-right: 36px;
      }
    }
  }
}

.footer-nav {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 300px;
    font-size: 14px;
    color: $secondary;
    margin-left: 30px;
    margin-right: 100px;
  }
}
