header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 480px) {
    justify-content: space-between;
  }
}
.brand {
  height: 36px;
  width: 120px;
  margin-left: 12px;
  @media (min-width: 480px) {
    margin-left: 21px;
    margin-right: 48px;
  }
}

.flex-end {
  display: flex;
  margin-left: 120px;
  margin-right: 6px;
  @media (min-width: 480px) {
    flex-grow: 0.1;
    margin-left: 50px;
    margin-right: 20px;
  }
}

.hamburger-menu {
  margin-right: 12px;
  span {
    background: $primary;
    width: 20px;
    height: 5px;
    display: block;
    margin-bottom: 2px;
    border-radius: 10px;
  }
  @media (min-width: 480px) {
    display: none;
  }
}

.search-icon {
  fill: $primary;
}
.nav-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  li {
    height: 21px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-bottom: 2px;
    font-size: 11px;
  }
  .nav-dropdown-home {
    background: $nav-1;
  }
  .nav-dropdown-about-us {
    background: $nav-2;
  }
  .nav-dropdown-our-work {
    background: $nav-3;
  }
  .nav-dropdown-contact {
    background: $nav-4;
  }
}

.header-underline {
  display: block;
  background: linear-gradient(to right, $nav-1, $nav-4);
  height: 10px;
  width: 100vw;
}
.nav-icons {
  min-width: 200px;
  display: none;
  // margin-right: 50px;
  flex-grow: 0.5;
  @media (min-width: 480px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.nav-tablet {
  list-style: none;
  display: none;
  li {
    color: $primary;
  }
  @media (min-width: 768px) {
    display: flex;
  }
}
